@use "./variables.scss" as *;

.page-listing .tags {
  display: none;
}

body {
    font-size: 1.1rem; // Увеличивает шрифт на 10% относительно базового
}

:root {
  --electro: #af90e8;
  --anemo: #79cfb5;
  --cryo: #89dceb;
  --pyro: #e08367;
  --hydro: #73abef;
  --dendro: #a0cc73;
  --geo: #dbbc67;
  --llc: #c6aada;
  --sg: #decd8a;
  --bol: #ef645e;
}

/* Стили для кастомных эмодзи, чтобы они смотрелись в строке */
.genshin-emoji {
  height: 1.2em;
  width: auto;
  vertical-align: middle;
  margin: 0 2px;
  filter: drop-shadow(0 0 1px rgba(50, 50, 50, 0.5));
}

// Отменяем превращение подписи в блок для наших инлайн-картинок
// p > img + em {
  // display: inline !important;
  // transform: none !important;
// }